version: '2'

services:
  jenkins: 
    build:
      context: ../Jenkins  
      dockerfile: Dockerfile
    ports:
        - "8080:8080"
    tty: true
    container_name: DC_Jenkins 

  jira:
    build:
      context: ../Jira
      dockerfile: Dockerfile
    ports:
        - "8081:8080"
    tty: true
    container_name: DC_Jira

  nexus:
    build:
      context: ../Nexus 
      dockerfile: Dockerfile
    ports:
        - "8082:8081"
    tty: true
    container_name: DC_Nexus

  zabbix:
    build:
      context: ../Zabbix
      dockerfile: Dockerfile
    ports:
        - "80:80"   
        - "10051:10051"
    tty: true
    container_name: DC_Zabbix

  zabbixagent:
    build:
      context: ../zabbixAgent
      dockerfile: Dockerfile
    ports:
        - "10050:10050"
    tty: true
    container_name: DC_Zabbix_Agent
#    entrypoint: 
#             - /bin/sh
#             - -c
#             - service zabbix-agent start && bash
#             - apt-get install vim -y && bash 
